{% extends "base.html" %} {% block content %}

<div class="main container">
  <div class="left">
    <h1>Xperience Shopping</h1>
    <h2>API Preview</h2>
    <video id="capturevideo" autoplay></video>
    </br>
    <button id="shutterbutton">Webcam (10 second timer)</button>    
  </div>

  <div class="mid panel">
    </br>
    <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
    <label for="file-upload" id="file-drag" class="upload-box">
      <div id="upload-caption">Drop image here or click to select</div>
      <img id="image-preview" class="hidden" />      
    </label>
    
    <div style="margin-bottom: 2rem;">
      Height (in cm): <input id="height" type="number" value="180"></br></br>
      <input type="button" value="Submit" class="button" onclick="submitImage();" />
      <input type="button" value="Clear" class="button" onclick="clearImage();" />
    </div>  
  </div>

  <div id="image-box" class="right">
    <div id="pred-result" class="hidden"></div>
  </div>
</div>
<input type="button" value="Download 3D Mesh File" class="button" onclick="downloadObj();" style="float: right;"/>
<div id="container"></div>

{% endblock %}
